<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Proyectos en:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>




  <ion-list *ngIf="skillListExperience.length > 0">
    <ion-card *ngFor="let skill of skillListExperience">

      <ion-card-title class="ion-text-center">
        {{skill.exp_proyecto}}
      </ion-card-title>
      <ion-card-content (click)="openModal()">
        <img [src]="skill.exp_url_img" />
      </ion-card-content>
      
      <ion-card-content>

        TAGS:
        <ion-chip>
          <ion-icon name="heart" color="dark"></ion-icon>
          <ion-label>{{skill.exp_tags}}</ion-label>
        </ion-chip><br>
        DE TIPO:
        <ion-chip>
          <ion-icon name="heart" color="dark"></ion-icon>
          <ion-label>{{skill.exp_tipo}}</ion-label>
        </ion-chip>
        <ion-chip *ngIf="skill.exp_tipoll">
          <ion-icon name="heart" color="dark"></ion-icon>
          <ion-label>{{skill.exp_tipoll}}</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-button routerLink="/tabs/tab3" expand="block" fill="clear" shape="round">
    Home
  </ion-button>
  <ion-button routerLink="/tabs/tab3" expand="block" fill="clear" shape="round">
    Contactarme
  </ion-button>

</ion-content>