<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Comuniquese con:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-icon style="font-size: 30px; padding: 7px;" name="call-outline" color="primary"></ion-icon>
      <ion-label>
        <ion-label color="dark">Teléfono</ion-label>
        <ion-label color="medium" class="ion-text-wrap">0994798739</ion-label>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon style="font-size: 30px; padding: 7px;" name="location-outline" color="primary"></ion-icon>
      <ion-label>
        <ion-label color="dark">Dirección</ion-label>
        <ion-label color="medium" class="ion-text-wrap"> San Roque-Atuntaqui, Garcia Moreno y 29 de Septiembre
        </ion-label>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon style="font-size: 30px; padding: 7px;" name="mail-outline" color="primary"></ion-icon>
      <ion-label>
        <ion-label color="dark">Correo electrónico</ion-label>
        <ion-label color="medium" class="ion-text-wrap"> esbolanosv@utn.edu.ec</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>
  


  <ion-button routerLink="/tabs/tab1" expand="block" fill="clear" shape="round">
    Ir a Inicio
  </ion-button>


</ion-content>
